body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://i.pinimg.com/564x/24/e7/59/24e75930a8f463192dadb16fe58bdf29--minecraft-earth-minecraft-blocks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  
  h1, p {
    text-align: center;
  }
  
  button {
    margin-top: 20px;
  }
  
  .random-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    margin: 10px;
  }
  